.jumbo {
  min-height: 30rem;
  height: 100vh;
}

.jumbo h1 {
  line-height: 125%;
}

.jumbo h2 {
  font-size: 2rem;
}

.jumbo h3 {
  font-size: 1.7rem;
}
.jumbo_content {
  margin-top: 6.5rem;
  margin-bottom: 13rem;
}

.jumbo_content p {
  font-size: 1.5rem;
}

@media (max-width: 550px) {
  .jumbo h1 {
    font-size: 2rem;
  }

  .jumbo h3 {
    font-size: 1.4rem;
  }

  .jumbo_content p {
    font-size: 1.25rem;
  }
}
