.jumbo_social {
  max-width: 100%;
}

.jumbo_social i {
  font-size: 2rem;
}

a:link {
  color: black;
}

.hover_effect:hover {
  color: purple;
}

@media (max-width: 550px) {
  .jumbo_social i {
    font-size: 1.6rem;
  }

  .jumbo h1 {
    font-size: 2rem;
  }

  .jumbo h3 {
    font-size: 1.4rem;
  }

  .jumbo_content p {
    font-size: 1.25rem;
  }
}
