.button_styles {
  border-style: solid;
  padding: 3px;
  border-radius: 1rem;
  margin-bottom: 3px;
  color: blueviolet;
}

.button_styles:hover {
  color: black;
}

@media (max-width: 550px) {
  .button_styles {
    margin-bottom: 0.5rem;
  }
}
