.myjumbo {
  min-height: 30rem;
}

.myjumbo h1 {
  margin-bottom: 3.5rem;
  line-height: 125%;
}

.myjumbo h2 {
  font-size: 2rem;
}

.myjumbo h3 {
  font-size: 1.7rem;
}
.myjumbo_content {
  margin-top: 6.5rem;
  width: 100%;
  padding: 1rem;
}

.myjumbo_content p {
  font-size: 1.5rem;
}
